header {
  text-align: center;
  color: rgb(1, 7, 74);
}

.menu-item {
  color: rgb(173, 180, 255);
  background: rgb(1, 7, 74);
  cursor: pointer;
  display: block;
  margin: 20px auto auto;
  border-radius: 15%;
  height: 50px;
  width: 200px;
  font-size: 18px;
}

.menu-item:hover {
  color: rgb(1, 7, 74);
  background: rgb(173, 180, 255);
}

.board {
  border: 5px solid black;
  border-radius: 15%;
  background: rgb(2, 14, 150);
  min-width: 400px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.player-row {
  color: rgb(173, 180, 255);
  background: rgb(1, 7, 74);
}

.large-pit {
  min-width: 100px;
  color: white;
  background: rgb(84, 99, 255);
  border: 1px solid black;
  border-radius: 50%;
  font-size: 22px;
}

.pit {
  width: 75px;
  height: 75px;
  color: white;
  cursor: pointer;
  background: rgb(84, 99, 255);
  border: 1px solid black;
  border-radius: 50%;
  font-size: 22px;
}

.pit:hover {
  background: rgb(173, 180, 255);
}

#player1-row td {
  border-top: 2px solid black;
}

#player2-row td {
  border-bottom: 2px solid black;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

h3 {
  padding: 0px;
  margin: 5px;
}
